:root {
  /*dark theme*/
  --background: #181e24;
  --font-color: white;
  --secound-text-color: rgba(255,255,255,.5);
  --secound-color: #181e20;
  --third-color: #25292c;
  --fifth-color: #212529;
  --navbar-color: #0f1e1f;
  --colornumber: 1;
  --danger-background: #2b2020;
}

.light-mode {
  --background: white;
  --font-color: black;
  --secound-text-color: rgb(6 6 6 / 50%);
  --secound-color: floralwhite;
  --third-color: #e5e5e5;
  --fifth-color: #f3f3f3;
  --navbar-color: #eff5f1;
  --colornumber: 0;
  --danger-background: #f1d0d0;
}


.dark-mode {
  background-color: var(--background) !important;
  color: var(--font-color) !important;
}

.light-mode{
  background-color: var(--background) !important;
  color: var(--font-color) !important;
}
