<div class="shadow card h-100 rounded cardbox">
  <div class="card-header py-1" [ngClass]="{'danger-background': isCriticalDatabase()}">
    <div class="card-title">
      <h4 class="title-card">{{db['name']}}</h4>
    </div>
    <button type="button" class=" btn-close deleteicon blacktowhitetheme" aria-label="Close" (click)="deleteDatabase.emit(db['name'])"></button>
  </div>
  <div class="card-body">
    <div class="card-text">
      Size on disk: {{db['sizeOnDisk'] | number}} KB <br>
      <div *ngIf="db.stats">
        Collections: {{db.stats.collections | number}} <br>
        Objects: {{db.stats.objects | number}} <br>
        Indexes: {{db.stats.indexes | number}}
      </div>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <button type="button" class="btn btn-success actionbutton dropdown-toggle" aria-expanded="false" (click)="toggleDropdown($event)">
        Option
      </button>
      <ul class="dropdown-menu element-background mt-5" [class.show]="isDropdownOpen" #dropdownMenu>
        <li><a class="dropdown-item element-background" (click)="detailDatabase.emit(db['name'])">Details DB</a></li>
        <li><a class="dropdown-item element-background" href="#">Copy DB</a></li>
        <li><div class="dropdown-item element-background" (click)="downloadDatabase.emit(db.name)">Download DB</div></li>

        <li *ngIf="!isCriticalDatabase()">
          <hr class="dropdown-divider" />
        </li>
        <li *ngIf="!isCriticalDatabase()">
          <div class="dropdown-item text-danger" (click)="deleteDatabase.emit(db['name'])">Delete Database</div>
        </li>
      </ul>
    </div>
    <a href="db/{{db['name']}}" class="btn actionbutton btn-primary">Open</a>
  </div>
</div>