<div class="top-div">
  <h3>List of all databases</h3>
  <p class="second-text-color">{{databaseList.length}} Databases found</p>
  <button type="button" class="btn btn-primary float-end ms-3" (click)="openCreateCollection()">Create collection</button>
  <button type="button" class="btn btn-primary float-end" (click)="openImport()">Import</button>
</div>
<br>

<div class="row mt-4">
  <div *ngFor="let db of databaseList" class="col-lg-4 col-xl-3 col-md-5 mb-8 col-sm-12 py-3">
    <app-db-card 
    [db]="db" 
    (deleteDatabase)="openDeleteDatabase($event)"
    (detailDatabase)="openDetailDatabase($event)"
    (downloadDatabase)="openDownloadDatabase($event)"></app-db-card>
  </div>
</div>
