<div class="page" [ngClass]="{'light-mode': isLightMode(), 'dark-mode': isDarkMode()}">
  <app-nav></app-nav>
  <main>
    <div class="top-row px-4 page">
      <select class="page theme-picker" style="float: right;" (change)="onThemeChange($event)">
        <option value="Light" [selected]="isLightMode()">Light</option>
        <option value="Dark" [selected]="isDarkMode()">Dark</option>
      </select>
    </div>
    <article class="content px-4">
      <router-outlet></router-outlet>
    </article>
  </main>
</div>
