.second-text-color{
    color: var(--secound-text-color);
}

.cardbox {
    border: 1px dashed var(--secound-color);
    background-color: var(--fifth-color);
    color: var(--font-color) !important;
}

.card-header {
    border-bottom: 1px solid var(--secound-color);
    background-color: var(--third-color);
}

.card-body {
    font-size: 0.95rem;
}

.deleteicon{
    right: 0.3rem;
    top: 0.6rem;
    position: absolute;
}

.blacktowhitetheme {
    filter: brightness(0) invert(var(--colornumber));
}
.whitetoblacktheme {
    filter: brightness(1) invert(var(--colornumber));
}