<div class="top-div">
    <h3>List of all databases</h3>
    <p class="second-text-color">{{numberOfDBs}} Databases found</p>
    <button type="button" class="btn btn-primary float-end ms-3">Create database</button>
    <button type="button" class="btn btn-primary float-end">Import</button>
  </div>
  <br>
  
  <div class="row mt-4">
    <div *ngFor="let db of databaseList" class="col-lg-4 col-xl-3 col-md-5 mb-8 col-sm-12 py-3">
      <div class="shadow card h-100 rounded cardbox">
        <div class="card-header py-1 danger-background">
          <div class="card-title">
            <h4 class="title-card">{{db['name']}}</h4>
          </div>
          <button type="button" class=" btn-close deleteicon blacktowhitetheme" aria-label="Close"></button>
        </div>
        <div class="card-body">
          <p class="card-text" *ngIf="getStatsForDb(db['name']) as stats">
            Size on disk: {{db['sizeOnDisk'] | number}} KB <br>
            Collections: {{stats.collections | number}} <br>
            Objects: {{stats.objects | number}} <br>
            Indexes: {{stats.indexes | number}}
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-success actionbutton dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Option
            </button>
            <ul class="dropdown-menu element-background">
              <li><a class="dropdown-item element-background" href="">Details DB</a></li>
              <li><a class="dropdown-item element-background" href="">Copy DB</a></li>
              <li><a class="dropdown-item element-background" href="">Download DB</a></li>
            </ul>
          </div>
          <a href="CollectionManager/{{db['name']}}" class="btn actionbutton btn-primary">Open</a>
        </div>
      </div>
    </div>
  </div>
