<form id="connect" (submit)="validate()">
  <div class="form-group py-1">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" class="form-control page" placeholder="Username" [(ngModel)]="username">
  </div>
  <div class="form-group py-1">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control page" placeholder="Password" [(ngModel)]="password">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Save Connection</button>
</form>
<br>
<div class="py-4">
  <br>
  <div class="alert alert-success" role="alert" id="alert-success" *ngIf="alertSuccessVisible">
    MongoDB Connection was successful
  </div>
  <div class="alert alert-danger" role="alert" id="alert-danger" *ngIf="alertDangerVisible">
    MongoDB Connection failed
  </div>
</div>
