:root {
  /*dark theme*/
  --background: #181e24;
  --font-color: white;
  --secound-text-color: rgba(255,255,255,.5);
  --secound-color: #181e20;
  --third-color: #25292c;
  --fifth-color: #212529;
  --navbar-color: #0f1e1f;
  --colornumber: 1;
  --danger-background: #2b2020;
}

.light-mode {
  --background: white;
  --font-color: black;
  --secound-text-color: rgb(6 6 6 / 50%);
  --secound-color: floralwhite;
  --third-color: #e5e5e5;
  --fifth-color: #f3f3f3;
  --navbar-color: #eff5f1;
  --colornumber: 0;
  --danger-background: #f1d0d0;
}

.page {
  background-color: var(--background) !important;
  color: var(--font-color) !important;
}

.table {
  background-color: var(--background) !important;
  color: var(--font-color) !important;
  --bs-table-color: unset;
  --bs-table-bg: unset;
}

.dark-mode {
  background-color: var(--background) !important;
  color: var(--font-color) !important;
}

.light-mode{
  background-color: var(--background) !important;
  color: var(--font-color) !important;
}

.blacktowhitetheme {
  filter: brightness(0) invert(var(--colornumber));
}

.whitetoblacktheme {
  filter: brightness(1) invert(var(--colornumber));
}

.btn-primary {
  color: #fff;
  background-color: #223b4f;
  border-color: #152f4b;
}

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--font-color) !important;
}

.danger-background {
  background-color: var(--danger-background) !important;
}

.element-background {
  background-color: var(--third-color) !important;
  color: var(--font-color) !important;
}

.dropdown-item:hover {
  background-color: var(--secound-color) !important;
  color: var(--font-color) !important;
  cursor: pointer;
}

.modal-content {
  color: var(--font-color);
  border: none !important;
}

.modal-header {
  background-color: var(--third-color);
  border-bottom: 1px solid var(--secound-color);
}

.modal-body {
  background-color: var(--fifth-color) !important;
}

.modal-content {
  background-color: var(--fifth-color) !important
}

.modal-footer {
  background-color: var(--third-color) !important;
  border-top: 1px solid var(--secound-color);
}

.toast-container .ngx-toastr {
  box-shadow: 0 0 12px var(--secound-text-color) !important;
}

.btn-close:focus {
  box-shadow: none;
}

input {
  background-color: var(--background) !important;
  color: var(--font-color) !important;
}

.deleteicon {
  right: 0.3rem;
  top: 0.6rem;
  position: absolute;
}


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
