<div class="sidebar">
  <div class="navbar navbar-dark">
    <div class="container-fluid pb-1 ps-5">
      <a class="navbar-brand">MongoDB Web</a>
      <button title="Navigation menu" class="navbar-toggler" (click)="Collapse()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>

  <div class="collapse-nav" style="display: block;" *ngIf="showNav">
    <nav class="flex-column" >
      <div class="nav-item px-3" >
        <a href="Dashboard" class="nav-link active">
          <img src="assets/icons/home.svg" class="icon blacktowhite" >  Home
        </a>
      </div>
      <ng-container *ngIf="isAuthorized && !isLoadingAuthorized">
      <div class="nav-item px-3" >
        <a href="Query" class="nav-link">
          <img src="assets/icons/query.svg" class="icon blacktowhite" >  Query
        </a>
      </div><div class="nav-item px-3" >
        <a href="Statistic" class="nav-link">
          <img src="assets/icons/pie_chart.svg" class="icon blacktowhite" >  Statistic
        </a>
      </div><div class="nav-item px-3" >
        <a href="User_session_control" class="nav-link">
          <img src="assets/icons/user_control.svg" class="icon blacktowhite" >  User session control
        </a>
      </div><div class="nav-item px-3" >
        <a href="Access_log" class="nav-link">
          <img src="assets/icons/security.svg" class="icon blacktowhite" >  Access Log
        </a>
      </div><div class="nav-item px-3" >
        <a href="Settings" class="nav-link">
          <img src="assets/icons/settings.svg" class="icon blacktowhite" >  Settings
        </a>
      </div><div class="nav-item px-3" >
        <a href="api/Auth/Logout" class="nav-link">
          <img src="assets/icons/logout.svg" class="icon blacktowhite" >  Logout
        </a>
      </div>
      </ng-container>
    </nav>
  </div>
</div>

